body{
    display: flex;
    background-color: cyan;
}
.box{
    border: 0cm;
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin: 5px;
}
.bigger_box{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    height: 1000px;
    width: 2000px;
}
